.b{
   font-size: 8px;
 
  
  color: black;
  
 width:75%;
 
  border: 10px black;
}
.c{
    font-weight: 400px;
}
.a{
    font-size: 14px;
    text-align: justify;
    font-display: grid;
    font-weight: 300;
    font-style: bold;
   
}
body{
   
    text-align: justify;
    text-justify: inter-word;
    padding-left: 40%;
    padding-right: 20%;
}
.hr{
    background:black;
    height:4px;
    position: relative;
    border: none;
}
.head{
    font-weight: 600;
}
.divis{
    padding-left: 4%;
    text-align: center;
    align-items: center;
}
